<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Продажі по категоріях</title>
    <link
        href="https://cdn.bokeh.org/bokeh/release/bokeh-3.3.0.min.css"
        rel="stylesheet" type="text/css">
    <script
        src="https://cdn.bokeh.org/bokeh/release/bokeh-3.3.0.min.js">
    </script>
</head>
<body>
  <h2>Продажі по категоріях</h2>
  {{ script|safe }}
  {{ div|safe }}
</body>
</html>
